html {
    box-sizing: border-box;
}

/* *, *::before, *::after{

   
} */

.calcuBody {
    box-sizing: calc(100px 150px);
    position: relative;
    background-color: bisque;


}

.wrapper{
    width: 320px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 400px;
    
    
}

button {
    width: 80px;
    font-size: 14px;
    font-family: "Arial";
    margin: 0px;
    padding: 10px;
    box-shadow: 0 3px #3a3939;
    
}
.grid {
    gap: 0px;
   
}

#zero {

    width: 160px;

}

#multi, #divide, #equal, #plus, #minus{
    background-color: coral;

} 

.container{
    width:100%;
}

button:hover{

    background: rgb(147, 145, 145);
}

button:active{

    box-shadow: 0 1px #3a3939;
    transform: translateY(2px);
}

#display {
    text-align: right;
    min-width: 300px;
    min-height: 30px;
    font-size: 24px;
    border:(5 solid #a5a5a1);
    color: black;
    text-overflow: clip;
    background: deepskyblue;
}

#diplay2, #display3{
    width: 0px;
    font-size: 0%;;
    height: 1px;
    padding: 0px;
    margin: 0px;
    
}